<a href="https://colab.research.google.com/github/CurtisEllese/python_course/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

| Задание 44 |
| --- |
| В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без get_dummies? |

In [2]:
import random

In [70]:
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
df = pd.DataFrame({'whoAmI':lst})
df.head()

  whoAmI
0  robot
1  robot
2  robot
3  human
4  human

In [44]:
pd.get_dummies(data=df, columns=['whoAmI'], drop_first=True)

    whoAmI_robot
0              1
1              0
2              1
3              0
4              0
5              0
6              1
7              0
8              0
9              1
10             0
11             1
12             1
13             0
14             1
15             1
16             1
17             0
18             1
19             0

In [8]:
pd.get_dummies(df['whoAmI'])

    human  robot
0       0      1
1       1      0
2       0      1
3       1      0
4       1      0
5       1      0
6       0      1
7       1      0
8       1      0
9       0      1
10      1      0
11      0      1
12      0      1
13      1      0
14      0      1
15      0      1
16      0      1
17      1      0
18      0      1
19      1      0

In [73]:
for index, value in df['whoAmI'].items():
  if value == 'robot':
    df.loc[index, 'whoAmI_robot'] = 1
    df.loc[index, 'whoAmI_human'] = 0
  if value == 'human':
    df.loc[index, 'whoAmI_human'] = 1
    df.loc[index, 'whoAmI_robot'] = 0

df['whoAmI_robot'] = df['whoAmI_robot'].astype(int)
df['whoAmI_human'] = df['whoAmI_human'].astype(int)

In [56]:
df

   whoAmI  whoAmI_robot  whoAmI_human
0   robot             1             0
1   human             0             1
2   robot             1             0
3   human             0             1
4   human             0             1
5   human             0             1
6   robot             1             0
7   human             0             1
8   human             0             1
9   robot             1             0
10  human             0             1
11  robot             1             0
12  robot             1             0
13  human             0             1
14  robot             1             0
15  robot             1             0
16  robot             1             0
17  human             0             1
18  robot             1             0
19  human             0             1

In [81]:
# Очистим таблицу
df = df.loc[:, :'whoAmI']

# Можно не учитывать первый столбец, так как легко предсказывается на основе предыдущего

for index, value in df['whoAmI'].items():
  if value == 'robot':
    df.loc[index, 'whoAmI_robot'] = 1
  if value == 'human':
    df.loc[index, 'whoAmI_robot'] = 0

df['whoAmI_robot'] = df['whoAmI_robot'].astype(int)

In [82]:
df

   whoAmI  whoAmI_robot
0   robot             1
1   robot             1
2   robot             1
3   human             0
4   human             0
5   human             0
6   robot             1
7   robot             1
8   robot             1
9   robot             1
10  human             0
11  human             0
12  robot             1
13  human             0
14  human             0
15  robot             1
16  human             0
17  robot             1
18  human             0
19  human             0